@model dynamic
@{
    ViewBag.Title = "TrelloApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row Login">    
    <h2>Click button to login.</h2><br/><br/>
    <a href="@ViewBag.AuthorizationUrl" class="btn btn-lg btn-primary">Login with Trello</a>
</div>